.new {
  flex: 4;
}

.newUserForm {
  display: flex;
  margin-right: 12px;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 32px;
  padding: 9px 28px;
  min-height: 70%;
}

.newUserItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  margin-right: 78px;
  font-size: 15px;
}

.newUserItem > label {
  margin-bottom: 15px;

  font-weight: 600;
  color: rgb(103 102 102);;
}

.newUserItem > input {

  padding: 10px;
  border: none;
  /* border-radius: 2px; */
  border-bottom: 1px #c1d4ff solid;
}

.newUserGender > input {
  margin-top: 15px;
}

.newUserGender>label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.newUserSelect{
    height: 40px;
    border-radius: 5px;
}

.newUserButton{
  width: 187px;
  border: none;
  background-color: #9c88ff;
  color: white;
  padding: 7px 10px;
  font-weight: 600;
  border-radius: 32px;
  margin-top: 47px;
  cursor: pointer;
  letter-spacing: 1px;
  height: 43px;
  font-size: 17px;

}
.newUserTitle{
  margin-left: 30px;
}