* {
    box-sizing: border-box;
    outline: none;
}
:root {
    --bg-color: #f5f8ff;
    --main-color: #353536;
    --secondary-color: #8e92a4;
    --main-text-color: #5d606b;
    --secondary-dark-color: #9496a5;
    --tag-color-one: #e0fbf6;
    --tag-color-text-one: #58c2a9;
    --tag-color-two: #ece7fe;
    --tag-color-text-two: #8972f3;
    --tag-color-three: #fde7ea;
    --tag-color-text-three: #e77f89;
    --tag-color-four: #f7f8fc;
    --tag-color-text-four: #a0a6b5;
    --checkbox-color: #009e90;
    --button-color: #7033FF	;
    --box-color: #fff1d6;
    --box-color-2: #d3e6ff;
    --box-color-3: #ffd9d9;
    --box-color-4: #daffe5;
    --task-color: #777982;
}



body {
    
    background-color: #F3F6FD;
}
ul {
    list-style-type: none;
    padding: 0;
}
button {
    border: none;
    background: none;
    cursor: pointer;
}
.task-managerrr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 32px;
    margin-right: 12px;
    

    
    
   
 /*   box-shadow:0 0.3px 0.2px rgb(0 0 0 / 1%), 0 0.7px 0.3px rgb(0 0 0 / 2%), 0 1.3px 10px rgb(0 0 0 / 2%), 0 2.2px 0.9px rgb(0 0 0 / 2%), 0 4.2px 0.4px rgb(0 0 0 / 3%), 0 10px 40px rgb(0 0 0 / 4%);*/
    overflow: hidden;
}
.left-bar {
    background-color: var(--bg-color);
    width: 230px;
    border-right: 1px solid #e3e7f7;
    position: relative;
}
.left-content {
    padding: 40px;
}
.item {
    color: var(--main-color);
    margin-bottom: 14px;
    font-weight: 500;
}
.item svg {
    width: 14px;
    height: 14px;
    color: currentcolor;
    margin-right: 10px;
}
.category-list {
    margin-top: 50px;
}
.category-list .item {
    color: var(--secondary-color);
}
.actions {
    padding: 12px;
    display: flex;
    justify-content: space-between;
}
.action-list{
    font-size: 13px;}
.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #fe4d46;
    box-shadow: 14px 0 0 0 #fbc023, 28px 0 0 0 #7dd21f;
}
.circle-2 {
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: #d5d7e3;
    box-shadow: -6px 0 0 0 #d5d7e3, 6px 0 0 0 #d5d7e3;
}
.right-bar {
    width: 402px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 32px;
    margin-left: 1em;
}
.right-bar .header {
    font-size: 20px;
    color: var(--main-text-color);
    margin-left: 30px;
}
.top-part {
    padding: 20px 12px 0px 0px;
    align-self: flex-end;
}
.top-part svg {
    width: 23px;
    height: 23px;
    color: var(--main-color);
    margin-right: 14px;
}
.top-part .count {
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #623ce8;
    color: #fff;
    justify-content: center;
}
.right-content {
    padding: 10px 40px;
    overflow-y: auto;
    flex: 1;
}
.task-box {
    position: relative;
    border-radius: 12px;
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px rgba(235, 235, 235, 1);
}
.task-box:hover {
    transform: scale(1.02);
}
.time {
    margin-bottom: 6px;
    opacity: 0.4;
    font-size: 10px;
}
.task-name {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.6;
}
.yellow {
    background-color: var(--box-color);
}
.blue {
    background-color: var(--box-color-2);
}
.red {
    background-color: var(--box-color-3);
}
.green {
    background-color: var(--box-color-4);
}
.more-button {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #8e92a4;
    box-shadow: 0 -4px 0 0 #8e92a4, 0 4px 0 0 #8e92a4;
    opacity: 0.4;
    right: 20px;
    top: 30px;
    cursor: pointer;
}
.members {
    display: flex;
    margin-top: 14px;
}
.members img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    object-fit: cover;
}
.page-content {
    border-radius: 32px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px 20px 0 20px;
}
.page-content .headerrr {
    font-size: 26px;
    color: var(--main-color);
    margin-top: 30px;
}
.wewe{
    font-size: 20px;
    color: var(--main-text-color);
    margin-left: 30px;
}
    
.content-categories {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
.nav-item {
    display: none;
}
.label-wrapper{
    font-size: 15px;
}
.categoryy {
    font-weight: 500;
    color: var(--secondary-color);
    border-bottom: 1px solid #ddd;
    transition: 0.4s ease-in;
    padding: 20px 30px;
    cursor: pointer;
}
#opt-1:checked + label, #opt-2:checked + label, #opt-3:checked + label, #opt-4:checked + label {
    color: var(--checkbox-color);
    border-bottom: 2px solid var(--checkbox-color);
}
.task-item {
    display: none;
}
.tasks-wrapper {
    padding: 30px 0;
    flex: 1;
    overflow-y: auto;
    height: 100%;
    padding-right: 8px;
}
.task {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 16px;
    padding-left: 30px;
    color: var(--task-color);
    font-size: 15px;
    font-weight: 500;
}
.task:hover {
    transform: translatex(2px);
}
.task label {
    cursor: pointer;
}
label .label-text {
    position: relative;
}
label .label-text:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    border-radius: 2px;
    left: -24px;
    transition: 0.2s ease;
}
.task-item:checked + label .label-text:before {
    background-color: var(--checkbox-color);
    border: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpolyline points='20 6 9 17 4 12'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    border: 1px solid var(--checkbox-color);
}
.tag {
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 20px;
}
.tag.approved {
    background-color: var(--tag-color-one);
    color: var(--tag-color-text-one);
}
.tag.progresss {
    background-color: var(--tag-color-two);
    color: var(--tag-color-text-two);
}
.tag.review {
    background-color: var(--tag-color-three);
    color: var(--tag-color-text-three);
}
.tag.waiting {
    background-color: var(--tag-color-four);
    color: var(--tag-color-text-four);
}
.upcoming {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
@media screen and (max-width: 900px) {
    .left-bar {
        display: none;
   }
}
@media screen and (max-width: 700px) {
    .task-managerrr {
        flex-direction: column;
        overflow-y: auto;
   }
    .right-bar, .page-content {
        width: 100%;
        display: block;
   }
    .tasks-wrapper {
        height: auto;
   }
}
@media screen and (max-width: 520px) {
    .page-content {
        padding: 40px 10px 0 10px;
   }
    .right-content {
        padding: 10px 16px;
   }
    .category {
        padding: 20px;
   }
}


@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
 * {
	 box-sizing: border-box;
}
 :root {
	 --app-container: #f3f6fd;
	 --main-color: #1f1c2e;
	 --secondary-color: #4a4a4a;
	 --link-color: #1f1c2e;
	 --link-color-hover: #c3cff4;
	 --link-color-active: #fff;
	 --link-color-active-bg: #1f1c2e;
	 --projects-section: #fff;
	 --message-box-hover: #fafcff;
	 --message-box-border: #e9ebf0;
	 --more-list-bg: #fff;
	 --more-list-bg-hover: #f6fbff;
	 --more-list-shadow: rgba(209, 209, 209, 0.4);
	 --button-bg: #1f1c24;
	 --search-area-bg: #fff;
	 --star: #1ff1c2 e;
	 --message-btn: #fff;
}
 .dark:root {
	 --app-container: #1f1d2b;
	 --app-container: #111827;
	 --main-color: #fff;
	 --secondary-color: rgba(255, 255, 255, .8);
	 --projects-section: #1f2937;
	 --link-color: rgba(255, 255, 255, .8);
	 --link-color-hover: rgba(195, 207, 244, 0.1);
	 --link-color-active-bg: rgba(195, 207, 244, 0.2);
	 --button-bg: #1f2937;
	 --search-area-bg: #1f2937;
	 --message-box-hover: #243244;
	 --message-box-border: rgba(255, 255, 255, .1);
	 --star: #ffd92c;
	 --light-font: rgba(255, 255, 255, .8);
	 --more-list-bg: #2f3142;
	 --more-list-bg-hover: rgba(195, 207, 244, 0.1);
	 --more-list-shadow: rgba(195, 207, 244, 0.1);
	 --message-btn: rgba(195, 207, 244, 0.1);
}



/* width */
::-webkit-scrollbar {
	width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background:linear-gradient(transparent,#D5DEFF); 
	border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background:linear-gradient(transparent, #4844c1); 
  }


 button, a {
	 cursor: pointer;
}
 .app-container {
	 width: 100%;
	 display: flex;
	 flex-direction: column;
	 height: 100%;
	 background-color: var(--app-container);
	 transition: 0.2s;
	 max-width: 1800px;
}
 .app-contentt {
    display: flex;
    height: 100%;
    overflow: hidden;
    flex-grow: 1;



	 
	
	
	 padding: 16px 24px 24px 0;
}
 .app-header {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 width: 100%;
	 padding: 16px 24px;
	 position: relative;
}
 .app-header-left, .app-header-right {
	 display: flex;
	 align-items: center;
}
 .app-header-left {
	 flex-grow: 1;
}
 .app-header-right button {
	 margin-left: 10px;
}
 .app-icon {
	 width: 26px;
	 height: 2px;
	 border-radius: 4px;
	 background-color: var(--main-color);
	 position: relative;
}
 .app-icon:before, .app-icon:after {
	 content: '';
	 position: absolute;
	 width: 12px;
	 height: 2px;
	 border-radius: 4px;
	 background-color: var(--main-color);
	 left: 50%;
	 transform: translatex(-50%);
}
 .app-icon:before {
	 top: -6px;
}
 .app-icon:after {
	 bottom: -6px;
}
 .app-name {
	 color: var(--main-color);
	 margin: 0;
	 font-size: 20px;
	 line-height: 24px;
	 font-weight: 700;
	 margin: 0 32px;
}
 .mode-switch {
	 background-color: transparent;
	 border: none;
	 padding: 0;
	 color: var(--main-color);
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .search-wrapper {
	 border-radius: 20px;
	 background-color: var(--search-area-bg);
	 padding-right: 12px;
	 height: 40px;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 width: 100%;
	 max-width: 480px;
	 color: var(--light-font);
	 box-shadow: 0 2px 6px 0 rgba(136, 148, 171, .2), 0 24px 20px -24px rgba(71, 82, 107, .1);
	 overflow: hidden;
}
 .dark .search-wrapper {
	 box-shadow: none;
}
 .search-input {
	 border: none;
	 flex: 1;
	 outline: none;
	 height: 100%;
	 padding: 0 20px;
	 font-size: 16px;
	 background-color: var(--search-area-bg);
	 color: var(--main-color);
}
 .search-input:placeholder {
	 color: var(--main-color);
	 opacity: 0.6;
}
 .add-btn {
	 color: #fff;
	 background-color: var(--button-bg);
	 padding: 0;
	 border: 0;
	 border-radius: 50%;
	 width: 32px;
	 height: 32px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .notification-btn {
	 color: var(--main-color);
	 padding: 0;
	 border: 0;
	 background-color: transparent;
	 height: 32px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .profile-btn {
	 padding: 0;
	 border: 0;
	 background-color: transparent;
	 display: flex;
	 align-items: center;
	 padding-left: 12px;
	 border-left: 2px solid #ddd;
}
 .profile-btn img {
	 width: 32px;
	 height: 32px;
	 object-fit: cover;
	 border-radius: 50%;
	 margin-right: 4px;
}
 .profile-btn span {
	 color: var(--main-color);
	 font-size: 16px;
	 line-height: 24px;
	 font-weight: 700;
}
 .page-content {
	 flex: 1;
	 width: 100%;
}
 






/*        to do          */

.todo-app {
    display: flex;
    flex-direction: column;
    width: 64%;
    min-height: 600px;
    background:#ffffff;
    text-align: center;
    border-radius: 32px;
    padding-bottom: 6px;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
}
  
  
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 9px;
    border:2px solid #7454d2;
    outline: none;
    width: 386px;
    background: transparent;
    color: rgb(29, 26, 26);
  }
  
  .todo-input::placeholder {
    color: #e2e2e2;
  }
  
  .todo-button {
    padding: 16px;
    margin-top: 15px;
    margin-left: 23px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    background: #661FFF;
    color: #fff;
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: 2px solid #149fff;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
#0051ffab 0%,
      #00eeffb2 100%
    );
  
    padding: 16px;
    border-radius: 10px;
    width: 100%;
  }
  
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
     #00bf59bb  0%,
       #00d0ffa8 100%
    );
  }
  
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      #6f00ffa1 0%,
      #7701fea1 100%
    );
  }
  
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      #ff4d00b2 0%,
      #ffe6009a 100%
    );
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }

  .addtask{
      display: flex;
      flex-direction: unset;
  }