.user {
  flex: 4;
  padding: 20px;
}

.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}

.userAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: #00cec9;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
}

.userContainer {
  display: flex;
  margin-top: 20px;
}

.userShow {

  flex: 1 1;
  border-radius: 32px;
  padding: 20px;
  box-shadow: 0px 0px 15px -10px rgb(0 0 0 / 75%);
  background-color: white;
}

.userUpdate {
  flex: 2 1;
  padding: 15px 21px;
    box-shadow: 0px 0px 15px -10px rgb(0 0 0 / 75%);
  margin-left: 20px;
  border-radius: 32px;
  background-color: white;

}

.userShowTop {

  display: flex;
  padding-bottom: 15px;
  align-items: center;
  border-bottom: 1px solid grey;
}

.userShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.userShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.userShowUsername {
  font-size: 25px;
  font-weight: 600;


}

.userShowUserTitle {
  font-weight: 300;
}

.userShowBottom{
    margin-top: 20px;
}

.userShowTitle {
  font-size: 18px;
  font-weight: 600;
  color: rgb(175, 170, 170);
  font-family: unset;
  letter-spacing: 2px;
}


.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
    font-family: unset;
}

.userShowIcons{
    font-size: 16px !important;
}

.userShowInfoTitle{
  margin-left: 10px;
  font-size: 17px;
}

.userUpdateTitle{
    font-size: 30px;
    font-weight: 600;
}
.userUpdateTitlee{
  border-bottom: 2px solid #5d5d5d;
  padding: 2px 117px 0px 43px;
  text-align: left;
  border-radius: 5px;


  font-size: 30px;
  font-weight: 600;
}

.userUpdateForm{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userUpdateItem>label{
  margin-bottom: 1px;
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 8px;
  /* font-size: initial; */
  font-weight: 900;
  margin-top: 27px;

}

.userUpdateInput{
  border: none;
  width: 254px;
  height: 30px;
  border-bottom: 1px solid gray;
  border-radius: none !important;
  font-weight: 500;
  margin-right: 28px;


}

.userUpdateRight{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 15px;

}

.userUpdateUpload{
    display: flex;
    align-items: center;
}

.userUpdateImg{
  width: 139px;
  height: 136px;
  border-radius: 60px;
  object-fit: cover;
  /* margin-right: 20px; */

}

.userUpdateIcon{
    cursor: pointer;
}

.userUpdateButton{
  border-radius: 20px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: #7171f5;
  color: white;
  font-weight: 600;
  height: 37px;
  letter-spacing: 1px;
  margin-top: 16px;

}
.t{
  display: none;

}

.userUpdateLeft{
  display: flex;
    /* flex-direction: row; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px;
}
